mixin social()
  .social
    a.social__link(href="#" target="_blank")
      +svg('telegram')
    a.social__link(href="#" target="_blank")
      +svg('instagram')
    a.social__link(href="#" target="_blank")
      +svg('vk')
    a.social__link(href="#" target="_blank")
      +svg('facebook')