extends pug/base
include components/user/user
include components/nav/nav
include components/cart-unit/cart-unit


append vars
  - title = 'Главная'

block content
  section.section
    .wrapper
      .section__part
        .section__sidebar
          +nav()
            
        .section__content
          .section__part
            .cart 
              .cart__top 
                +user({
                  name: 'Давид Аракелян',
                  photo: 'user',
                  isReverse: true,
                  isLargeUser: true,
                  isLargePhoto: true
                })
                .tag ТОП
              .cart__content
                .cart__line-name
                  h3.cart__name SELFMADE RESPECT (SR)
                  a.link.link--pink.link--small(href="#") (Что это?)
                .cart__line
                  +cart-unit({color: '#A5A6F6', name: 'Профиль'})
                  +cart-unit({color: '#F178B6', name: 'Портфолио'})
                  +cart-unit({color: '#3AC49F', name: 'SR ФРЕШ'})
                  +cart-unit({color: '#5D5FEF', name: 'SR ПРО'})
                  +cart-unit({color: '#EF5DA8', name: 'SR ТОП'})
              .cart__bottom   
                h3.cart__name Мой диск
                .cart__disk
                  .cart__disk-name Осталось 
                  .cart__data
                    span 40
                    span /
                    span 100 (mb)
                  .cart__toddler
                    .cart__toddler-filled(style="width: 60%")
                    .cart__link
                      a.link.link--purple.link--small(href="#") Добавить место

            .sr
              h2 Ваш SR
              .sr__diagram
                .js-chart.chart
                .sr__center 
                  .sr__center-plus +10
                  .sr__center-active 935
                  .sr__center-all 17849
              .sr__total 
                span.sr__total-active 74
                span /
                span.sr__total-all 134
          .table
            table
              tr 
                th 
                  h2 Статистика с <span>01.12.22</span> по <span>08.12.22</span>
                th Пользователи
                th Анонимы
                th Всего
              tr 
                td Уникальные визиты
                td 12
                td 33
                td 60
              tr 
                td Просмотров контактов
                td 2
                td x
                td 7
              tr 
                td Добавлений в избранное
                td 3
                td x
                td 13
              tr 
                td Просмотров портфолио
                td 22
                td 87
                td 156
